#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#home-links {
}

.home-link {
}